nameOverride: ''
fullnameOverride: ''

admissionWebhook:
  enabled: false
  port: 9443
  certDir: '/tmp/k8s-webhook-server/serving-certs/'

controller:
  defaultRegistryURL: 'oci://ghcr.io/mirantis/hmc/charts'
  registryCredsSecret: ''
  insecureRegistry: false
  createManagement: true
  createTemplates: true
  enableTelemetry: true

containerSecurityContext:
  allowPrivilegeEscalation: false
  capabilities:
    drop:
      - ALL

image:
  repository: ghcr.io/mirantis/hmc/controller
  tag: latest
  pullPolicy: IfNotPresent

resources:
  limits:
    cpu: 500m
    memory: 128Mi
  requests:
    cpu: 10m
    memory: 64Mi

replicas: 1

serviceAccount:
  annotations: {}

kubernetesClusterDomain: cluster.local
metricsService:
  ports:
    - name: http
      port: 8080
      protocol: TCP
      targetPort: 8080
  type: ClusterIP

# Subcharts
cert-manager:
  enabled: true
  crds:
    enabled: true
    keep: false

flux2:
  enabled: true
  policies:
    create: false
  imageAutomationController:
    create: false
  imageReflectionController:
    create: false
  kustomizeController:
    create: false
  notificationController:
    create: false
  helmController:
    container:
      additionalArgs:
        - --watch-label-selector=hmc.mirantis.com/managed=true
  sourceController:
    container:
      additionalArgs:
        - --watch-label-selector=hmc.mirantis.com/managed=true

cluster-api-operator:
  enabled: false
  resources:
    manager:
      limits:
        cpu: 100m
        memory: 250Mi
      requests:
        cpu: 100m
        memory: 150Mi
