kubeconfig
charts/
# Binaries for programs and plugins
bin
dist

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool
*.out

# Go workspace file
go.work
go.work.sum

# editors
.idea
*.swp
*.swo
*~
