kubeconfig
charts/
# Binaries for programs and plugins
bin
dist

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool
*.out

# Go workspace file
go.work
go.work.sum

# cloud-nuke config
*cloud-nuke.yaml

# Test artifacts
test/e2e/*.log

# ditors
.idea
*.swp
*.swo
*~

# Vendoring directory
vendor

# mkdocs folder
mkdocs
